<section class="add-location">
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger">
      <%= msg.kind_of?(Array) ? msg.join(", ") : msg %>
    </div>
  <% end %>

  <%= form_with model: @issue, url: params[:action] == "edit" ? project_issue_path(@project, @issue) : project_issues_path(@project), local: true do |f| %>
    <div class="text-right">
      <%= link_to 'Cancel', project_issues_path(@project.id), class: "btn btn-secondary" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    <p>
      <%= f.label :title, class: "form-label" %><br>
      <%= f.text_field :title, placeholder: "title", class: "form-control" %>
    </p>
    <p>
      <%= f.label :description, class: "form-label" %><br>
      <%= f.text_area :description, placeholder: "description", class: "form-control" %>
    </p>
    <p>
      <%= f.label :assigned_to, class: "form-label" %><br>
      <%= f.text_field :assigned_to, placeholder: "assigned_to", class: "form-control" %>
    </p>
    <p>
      <%= f.label :status, class: "form-label" %><br>
      <%= select_tag "issue[status]", options_for_select(Issue.statuses.map {|k, v| [k.humanize.capitalize, k]}), {class: 'form-control'} %>
    </p>
    <%= f.label :comments, class: "form-label" %><br>
    <%= f.fields_for :comments, @comments.present? ? @comments :  @issue.comments.build do |ff| %>
      <%= render "comment_fields", f: ff %>
    <% end %>
    <div class="add-comment">
      <%= link_to_add_fields "Add", f, :comments %>
    </div>
  <% end %>
</section>


<style type="text/css">
  .remove_fields{
    width: 100%;
    margin-top: 1.9rem !important;
  }
  .text-right{
    text-align: right;
  }
  .remove-btn a{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
  }
  .add_fields {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
  }
  .add_fields:hover, .remove-btn a:hover{
    color: #fff;
  }
</style>